@import '../../../../../assets/variables';


.el {
    color: $gary;
    font-weight: 600;

    &:hover {
        background-color: $black;
        color: $white;
    }
}

.act {
    background-color: $black !important;
    color: $white;
}